body {
    background: black;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.header{
    padding: 100px;
    text-align: center;
}

.container1{
    display: flex;
    justify-content: center;
    position: relative;
    height: 500px;
    color: #ffc35a;
    font-size: 100px;
    perspective: 400px;
}

.container2 {
    position: relative;
    top: 100000px;
    transform-origin: 50% 100%;
    animation: container2 30s linear infinite;
}



@keyframes container2 {
    0% {
        top: -10px;
        transform: rotateX(20deg)  translateZ(0);
    }
    100% {
        top: -4000px;
        transform: rotateX(25deg) translateZ(-2500px);
    }
}